<mat-toolbar>
  <div class="d-flex w-100">
    <div class="p-2"><span>Hi</span><span> {{currentUser.firstName+' '+currentUser.lastName}}</span></div>
    <div class="p-2">
      <span (click)="logout()" class="material-icons"  matTooltip="Exit" style="padding-top: 5px;">
        exit_to_app
        </span>


    </div>
  </div>
</mat-toolbar>
<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Repository</mat-label>
    <input type="text" matInput [formControl]="searchFormControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
